.navbar{
  background-color: cyan;
}
.navbar a{
color: black;
font-size: medium;
padding-left: 100px;
padding-right: 40px;
text-decoration: none;
text-align: center;
}
.container{
  background-color: skyblue;
}
h1{
  color: blue;
  text-align: center;
}
.intro p{
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
img{
  width: 500px;
  height: 500px;
}
