/*styling the navbar*/
.navbar{
  background-color: cyan;
}
.navbar a{
color: black;
font-size: 24px;
padding-left: 100px;
padding-right: 30px;
text-decoration: none;
text-align: center;
line-height: 40px;
}
/*styling the container*/
.container{
  background-color: skyblue;
  padding-left: 100px;
}
h1{
  color: blue;
  text-align: center;
}
/*styling the p in the div with class name intro*/
.intro p{
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.gif{
  height: 150px;
  width: 150px;
}
/*styling the images*/
img{
  width: 500px;
  height: 500px;
}
/*styling the contact section*/
.contact{
  padding-bottom: 50px;
  font-style: normal;
  font-size: large;
}
/*styling the submit button*/
.button{
background-color: greenyellow;
color: white;
width: 100px;
height: 25px;
margin-top: 10px;
border-radius: 10px;
}